.carouselbox {
  font-size: 14px;
  position: relative;
  /*margin: 1em;*/
  border: 1px solid #353535;
  box-shadow: 2px 2px 10px #353535;
  overflow: hidden;
  /*padding-top: 10px;*/
}
.content {
  margin: 0;
  padding: 0;
}
.content li {
  font-size: 40px;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
}

.active {
  height: 100%;
}
.active li {
  position: absolute;
  top: 1200px;
}
.active li.current {
  top: 16px;
}
.active .buttons {
  padding-top: 45%;
  /*background: #eee;*/
  text-align: center;
  z-index: 10;
  position: relative;
  height: 6%;
}
.carouselbox button {
  border: none;
  display: none;
}
.active button {
  display: inline-block;
} 
.offscreen {
  position: absolute;
  left: -2000px;
}
/*.prev .next{
  position: absolute;
}*/
.prev{
  float: left;
  font-size: 30px;
  opacity: 0.8;
}
.next{
  float: right;
  font-size: 30px;
  opacity: 0.8;
}